## POSTTEST 2

***1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.***

In [44]:
import pandas as pd
import numpy as np

cancer = pd.read_csv('Breast_Cancer.csv')
cancer.describe()

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
count,4024.000000,4024.000000,4024.000000,4024.000000,4024.000000
mean,53.972167,30.473658,14.357107,4.158052,71.297962
std,8.963134,21.119696,8.099675,5.109331,22.921430
min,30.000000,1.000000,1.000000,1.000000,1.000000
25%,47.000000,16.000000,9.000000,1.000000,56.000000
50%,54.000000,25.000000,14.000000,2.000000,73.000000
75%,61.000000,38.000000,19.000000,5.000000,90.000000
max,69.000000,140.000000,61.000000,46.000000,107.000000

***2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.***

In [45]:
cancer = cancer.select_dtypes(["float","int"])
cancer.head(11)

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
0,68,4,24,1,60
1,50,35,14,5,62
2,58,63,14,7,75
3,58,18,2,1,84
4,47,41,3,1,50
5,51,20,18,2,89
6,51,8,11,1,54
7,40,30,9,1,14
8,40,103,20,18,70
9,69,32,21,12,92
10,68,13,9,1,64

***3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.***

Memasukkan informasi yang didapatkan ke dictionary dan menampilkannya
:  : : : ..

In [46]:
cancer = pd.read_csv('Breast_Cancer.csv')
record = cancer.shape[0]
atribut = cancer.columns
objek = cancer.select_dtypes(include=object).columns
angka = cancer.select_dtypes(include=np.number).columns
Null = cancer.loc[:, cancer.isna().any()].columns

In [47]:
info = {
    'jumlah_record' : record,
    'nama_atribut' : atribut,
    'atribut_object' : objek,
    'atribut_angka' : angka,
}

print("Jumlah Record \t\t\t\t:", info['jumlah_record'])

print("================================================")
print("Jumlah Atribut \t\t\t\t:", len(info['nama_atribut']))
print("================================================")
print("------------------------")
print("  No\t| Nama Atribut")
print("------------------------")
for i in range (len(info['nama_atribut'])):
    print(" ", i, "\t|", info['nama_atribut'][i])
    i+=1
    
print("\n================================================")
print("Jumlah Atribut dengan Tipe Objek \t:", len(info['atribut_object']))
print("================================================")
print("-------------------------------")
print("  No\t| Atribut Tipe Object")
print("-------------------------------")
for i in range (len(info['atribut_object'])):
    print(" ", i, "\t|", info['atribut_object'][i])
    i+=1
    
print("\n================================================")
print("Jumlah Atribut dengan Tipe Angka \t:", len(info['atribut_angka']))
print("================================================")
print("------------------------------")
print("  No\t| Atribut Tipe Angka")
print("------------------------------")
for i in range (len(info['atribut_angka'])):
    print(" ", i, "\t|", info['atribut_angka'][i])
    i+=1

Jumlah Record 				: 4024
================================================
Jumlah Atribut 				: 16
================================================
------------------------
  No	| Nama Atribut
------------------------
  0 	| Age
  1 	| Race
  2 	| Marital Status
  3 	| T Stage
  4 	| N Stage
  5 	| 6th Stage
  6 	| differentiate
  7 	| Grade
  8 	| A Stage
  9 	| Tumor Size
  10 	| Estrogen Status
  11 	| Progesterone Status
  12 	| Regional Node Examined
  13 	| Reginol Node Positive
  14 	| Survival Months
  15 	| Status

================================================
Jumlah Atribut dengan Tipe Objek 	: 11
================================================
-------------------------------
  No	| Atribut Tipe Object
-------------------------------
  0 	| Race
  1 	| Marital Status
  2 	| T Stage
  3 	| N Stage
  4 	| 6th Stage
  5 	| differentiate
  6 	| Grade
  7 	| A Stage
  8 	| Estrogen Status
  9 	| Progesterone Status
  10 	| Status

================================================
Jumlah Atribut dengan Tipe Angka 	: 5
================================================
------------------------------
  No	| Atribut Tipe Angka
------------------------------
  0 	| Age
  1 	| Tumor Size
  2 	| Regional Node Examined
  3 	| Reginol Node Positive
  4 	| Survival Months

***4.Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.***

- Menggunakan iloc untuk slicing

In [48]:
# Menggunakan iloc untuk slicing
metode1 = cancer.iloc[118:, 3:]
metode1

,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
118,T2,N1,IIB,Poorly differentiated,3,Regional,35,Positive,Positive,15,3,91,Alive
119,T2,N1,IIB,Poorly differentiated,3,Regional,27,Positive,Positive,15,2,57,Alive
120,T2,N1,IIB,Well differentiated,1,Regional,35,Positive,Positive,7,2,94,Alive
121,T4,N1,IIIB,Poorly differentiated,3,Regional,35,Positive,Positive,15,3,79,Alive
122,T2,N3,IIIC,Moderately differentiated,2,Regional,50,Positive,Positive,16,16,62,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

- Menggunakan loc untuk slicing

In [49]:
# Menggunakan loc untuk slicing
metode2 = cancer[118:].iloc[:, 3:]
metode2

,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
118,T2,N1,IIB,Poorly differentiated,3,Regional,35,Positive,Positive,15,3,91,Alive
119,T2,N1,IIB,Poorly differentiated,3,Regional,27,Positive,Positive,15,2,57,Alive
120,T2,N1,IIB,Well differentiated,1,Regional,35,Positive,Positive,7,2,94,Alive
121,T4,N1,IIIB,Poorly differentiated,3,Regional,35,Positive,Positive,15,3,79,Alive
122,T2,N3,IIIC,Moderately differentiated,2,Regional,50,Positive,Positive,16,16,62,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

***5. Tampilkan jumlah label dari semua attribute yang bernilai object.***

In [50]:
# Membaca data dari file 'Breast_Cancer.csv'
cancer = pd.read_csv('Breast_Cancer.csv')

# Memilih kolom-kolom dengan tipe data objek (kategorikal)
objek = cancer.select_dtypes(include=['object'])

# Menghitung jumlah variasi (nilai unik) dalam setiap kolom kategorikal
jumlah_objek = objek.nunique()

# Membuat DataFrame untuk tabel variasi
tabel = pd.DataFrame({
    'Nama Atribut': jumlah_objek.index, 
    'Total Nilai': jumlah_objek.values})

# Menampilkan tabel variasi
print(tabel)

           Nama Atribut  Total Nilai
0                  Race            3
1        Marital Status            5
2              T Stage             4
3               N Stage            3
4             6th Stage            5
5         differentiate            4
6                 Grade            4
7               A Stage            2
8       Estrogen Status            2
9   Progesterone Status            2
10               Status            2